.card {
	margin: auto;
	// width: 80%;
	border-radius: 20px !important;
	max-width: 60% !important;

	.card-header-title {
		justify-content: center;
	}

	&.deleted {
		background-color: hsl(348, 100%, 61%);
	}

	&.private {
		background-color: hsl(348, 100%, 61%);
	}

	.card-footer {
		padding: 5%;
		justify-content: center;
		margin: auto;

		.iconContainer {
			margin-left: 5%;
			margin-right: 5%;

			// @media screen and (min-width: 1024px) {
			// 	margin: 10%;
			// }
		}
	}
}

.columns > .column {
	min-width: 50%;

	@media screen and (min-width: 1024px) {
		min-width: 30%;
	}
}
