.card {
	margin: auto;
	// width: 80%;
	border-radius: 20px !important;
	max-width: 60% !important;

	.card-header-title {
		justify-content: center;
	}

	&.deleted {
		background-color: hsl(348, 100%, 61%);
	}

	&.private {
		background-color: hsl(348, 100%, 61%);
	}

	.card-footer {
		padding: 10px;
		justify-content: center;
		margin: auto;

		.iconContainer {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}
